<div class="navbar bg-black shadow-xl">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl">BOOKHUB</a>
  </div>
  <div class="navbar-end">
    <a class="btn">LOGOUT</a>
  </div>
</div>

<div class="pt-6 pb-3">
  <p class="text-center text-xl ">
    CHOOSE AN ACTION TO PERFORM
  </p>
</div>

<div class="grid grid-cols-2 gap-4 place-items-center ">


  <div class="card w-96 bg-base-100 shadow-xl">
    <figure class="px-10 pt-10">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnEWYvCdYmFzDYBUkKBAf6OQecDttl0b8fzh97dXPZFg&s"  class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <p>Unlock new worlds, lend books and embark on infinite adventures of the mind.</p>
      <div class="card-actions">
        <button class="btn btn-primary" routerLink="/booklist">LEND BOOKS</button>
      </div>
    </div>
  </div>

  <div class="card w-96 bg-base-100 shadow-xl">
    <figure class="px-10 pt-10">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnEWYvCdYmFzDYBUkKBAf6OQecDttl0b8fzh97dXPZFg&s" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <p>Return the book, share the knowledge, and pass on the magic of reading to others.</p>
      <div class="card-actions">
        <button class="btn btn-primary" routerLink="/return">Return books</button>
      </div>
    </div>
  </div>
</div>








