<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://previews.123rf.com/images/glopphy/glopphy1603/glopphy160300008/53035444-book-and-graduates-education-logo-vector-image.jpg" alt="logo">
          BOOKHUB
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold text-white text-center">
                  LOGIN INTO YOUR ACCOUNT
              </h1>
              <form class="space-y-4 md:space-y-6" #login="ngForm">
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-white">ENTER YOUR REGISTERED EMAIL</label>
                      <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ngModel #email="ngModel" required>
                      <p *ngIf="email.invalid && email.touched" class="text-red-500">Please enter valid email</p>
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-white">ENTER YOUR PASSWORD</label>
                      <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ngModel #password="ngModel" required>
                      <p *ngIf="password.invalid && password.touched" class="text-red-500">Please enter Valid password</p>
                  </div>
                  <div class="flex items-center justify-between">
                      <a href="#" class="text-sm font-medium text-primary-600 text-white" routerLink="/forgot">Forgot password?</a>
                  </div>
                  <button type="submit" class="w-full text-white bg-purple-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center" [disabled]="login.invalid">Login</button>
                  <p class="text-sm font-light text-white">
                      New User? <br><a href="#" class="block mb-2 text-sm font-medium text-cyan-200" routerLink="/register">Click here to register</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
